.hero-wrapper {
  margin-top: 70px;
  padding: 25px 0px;
  max-width: 588px;
}

.hero-img {
  max-width: 400px;
  display: block;
  margin: 0px auto;
}

.hero-text-section {
  font-family: "Poppins", sans-serif;
  padding-left: 36px;
}

.hero-title {
  font-weight: 600;
  font-size: 36px;
  line-height: 110%;
  color: #000000;
  margin-bottom: 16px;
}

.hero-txt {
  width: 320px;
  margin-top: 0px;
  font-size: 16px;
  line-height: 110%;
  color: #222222;
}
